/*
<ul class="dotted_progress">
    <li class="dotted_progress-item dotted_progress-item--is-achieved"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
</ul>
*/

.dotted_progress {
    position: relative;
    display: inline-block;
    list-style-type: none;

    top: 2px;
    margin: 0;
    padding: 0;
}

.dotted_progress-item {
    display: inline-block;
    float: left;
    height: 12px;
    width: 12px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 4px;
}

.progress-colorscheme.progress-colorscheme--beginner,
.page-colorscheme.page-colorscheme--beginner {
    & .dotted_progress-item {
        border-color: @color_1_beginner;

        &.dotted_progress-item--is-achieved {
            background-color: @color_1_beginner;
        }
    }
}

.progress-colorscheme.progress-colorscheme--advanced,
.page-colorscheme.page-colorscheme--advanced {
    & .dotted_progress-item {
        border-color: @color_1_advanced;

        &.dotted_progress-item--is-achieved {
            background-color: @color_1_advanced;
        }
    }
}

.progress-colorscheme.progress-colorscheme--further,
.page-colorscheme.page-colorscheme--further {
    & .dotted_progress-item {
        border-color: @color_1_further;

        &.dotted_progress-item--is-achieved {
            background-color: @color_1_further;
        }
    }
}