.courses_overview-content {

    &,
    & > div[role=main] {
        display: table;
        width: 100%;
        height: 100%;
    }
}

.courses_overview-content_wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.courses_overview-headline {
    display: table-row;

    height: 1px;

    font-size: 2rem;
    line-height: 4rem;

    text-transform: uppercase;
    color: @white;
    background-color: @grey_dark;

    & .courses_overview-headline_text {
        padding-left: 30px;
    }
}

.courses_overview-content_column {
    display: table-cell;
    height: 100%;
    width: 33.33%;

    .courses_overview-content_wrapper.courses_overview-content_wrapper--1 & {
        width: 100%;
    }

    .courses_overview-content_wrapper.courses_overview-content_wrapper--2 & {
        width: 50%;
    }
}

.courses_overview_container {
    height: 100%;
    padding: 10px 30px 30px 30px;

    color: @white;
    overflow-y: auto;

    &.courses_overview_container--beginner {
        background-color: @color_1_beginner;
    }

    &.courses_overview_container--advanced {
        background-color: @color_1_advanced;
    }

    &.courses_overview_container--further {
        background-color: @color_1_further;
    }

    &.courses_overview_container--tests {
        background-color: @grey_dark;
    }

    &.courses_overview_container--half {
        height: 50%;
    }
}

.courses_overview-title {

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.course_link {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 2rem;

    &.course_link--disabled {
        color: #ccc;

        &:hover {
            color: #ccc;
        }
    }

    &:hover {
        color: @link;
    }
}

.courses_overview-hr {
    border: 1px solid @white;
    border-radius: 4px;
}