.page.page--course {

    .page_maincontent {
        margin-left: 20px;
        margin-right: 20px;
    }

    .page_resourcecontent {
        float: left;
        width: 66.666667%;

        &.page_resourcecontent--no-left-column {
            width: 100%;
        }
    }

    .page_secondarycontent {
        float: left;
        width: 33.3333333%;

        & .page_secondarycontent-container {
            margin-left: 20px;
        }
    }

    .single-section {
        margin-top: 0;
    }

    .mediaplugin.mediaplugin_youtube {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
    }
}
