.page.page--dashboard {

    background-color: #f5f5f5;

    .page_container {
        top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto;
        box-sizing: border-box;
    }

    .column-wrapper {
        display: inline-block;
        width: 100%;
    }
    
    .column {
        width: 33%;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;

        &.column--left {
            padding-left: 0;
        }

        &.column--middle {
        }

        &.column--right {
            padding-right: 0;
        }
    }

    .block {
        background-color: @white;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        border-radius: 13px;
        padding: 10px;

        & .header {
            &.title {
                text-transform: uppercase;
                color: @black;
            }
        }
    }

    .page_footer {
    }

}