.page.page--front {
    background-image: url('[[pix:theme|background_frontpage]]');
    background-attachment: fixed;
    background-size: cover;


    & section {
        &:extend(.clearfix);

        position: relative;
        height: 80vh;
        overflow: auto;
        padding-left: 60px;
        padding-right: 60px;
        color: @white;

        &.is--first {
            padding-top: 100px;
        }

        &.is--cta {
            height: 50vh;
        }
    }


    & .box.generalbox section {

        &:nth-child(1) {
            background: #017861;
        }

        & h3 {
            margin: 4rem 0 5rem;
            font-size: 80px;
            line-height: 80px;
            text-align: center;
            text-shadow: 0 0px 5px #000;
        }

        & h4 {
            margin: 2rem 0 3rem;
            font-size: 80px;
            line-height: 80px;
            text-align: center;
            text-shadow: 0 0px 5px #000;
        }

        & table {
            table-layout: fixed;

            font-size: 20px;
            line-height: 1.4;
            text-shadow: 0 0px 5px #000;

            & td {
                width: 50%;
                padding-left: 40px;
                padding-right: 40px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            & p {
                margin-bottom: 1.4rem;
            }
        }
    }

    & .teaser {
        float: left;
        margin-top: 20px;
        width: 600px;
    }

            
    .btn {
        border: 2px solid #999;
        background: #ccc;
        color: #333;
        margin-top: 6px;
        margin-bottom: 6px;
        text-shadow: none;
        padding-top: 9px;
        padding-bottom: 9px;
    
        &.btn-primary {
            border-color: rgb(250, 230, 90);
            background: rgb(250, 230, 90);
        }

    }

    & .login-area {
        float: right;
        margin-top: 120px;
        margin-right: 40px;
        width: 320px;
        background: @white;
        color: @black;
        border-radius: 20px;
        padding: 0 40px 0 40px;

        & .login-area_header {
            text-align: center;
            border-bottom: 2px solid black;
            margin-top: 20px;
        }

        & .login-area_header_logo {

        }

        & .login-area_content {
            padding-top: 20px;
            padding-bottom: 20px;

            .or-separator {
                position: relative;
                display: inline-block;
                text-align: center;
                width: 100%;
            }

            .pwd-forgot-link {
                &:extend(.btn-link);
                display: inline-block;
                margin-top: 20px;
            }
        }
    }

    & .cta-container {
        text-shadow: 0 0px 5px #000;
        text-align: center;
        font-size: 2em;
        line-height: 2em;

        margin: 0 auto;
        width: 25%;
        min-width: 300px;

        & .btn {
        }
    }
}