body#page-login-index {

    padding-top: 130px;

    .container-fluid {
        max-width: 1280px;
    }

    #page-header {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
    }

    #page-navbar {
        margin-left: -20px;
        margin-right: -20px;
        background: #fafafa;
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0px #eee;
    }

    .breadcrumb-nav {
        max-width: 1280px;
        margin: 0 auto;
        float: none;
    }

    .breadcrumb {
        padding: 15px 0 8px 0;
        background-color: transparent;

        & > li > .divider {
            font-size: 10px;
        }
    }

    .page-context-header {
        display: none;
    }

    #notice {
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
        padding: 20px;
        margin-top: 40px;
        width: 50%;
    }

    .loginbox {
        margin-top: 60px !important;

        &.subcontent {
            padding: 0;
        }

        & .signuppanel {
            h2 {
                font-size: 18px;
                border: none;
                border-radius: 0;
                height: auto;
                padding: 0;
                background: transparent;
                font-weight: normal;
                text-transform: initial;
            }

            & .subcontent {
                text-indent: -10000px;
                padding: 0;
                margin: 0;

                & ol {
                    display: none;
                }

                & .signupform {
                    margin-top: -21px;
                    text-indent: 0;
                }
            }
        }

        & .guestsub, & .forgotsub, & .potentialidps a {
            margin: 10px 0;
        }

        h2 {
            background: #f0f0f0;
            border-bottom: 1px dashed #ddd;
            border-radius: 5px 5px 0 0;
            font-size: 30px;
            height: 49px;
            text-transform: uppercase;
            font-weight: normal;
            margin: 1px auto 0;
            padding: 15px 0 4px;
            width: 100%;
        }

        & .loginpanel, & .signuppanel {
            width: 100%;
            background: #fafafa;
            border: 1px solid #ddd;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin: 0 auto;
            float: none;
            max-width: 360px;
            box-shadow: 0 0 1px #eee;
        }

        & .signuppanel {
            border-top-width: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        & .loginform .form-label {
            width: 0;
            display: none;
        }

        & .loginform .form-input {
            float: none;
            width: 80%;
            margin: 0 auto;

            & #username, & #password {
                background: #fff;
                min-width: 200px;
                width: 94% !important;
                padding: 8px 3%;
            }

            & #username {
                margin-bottom: -2px;
                border-radius: 4px 4px 0 0;
            }

            & #password {
                border-radius: 0 0 4px 4px;
            }
        }

        & .rememberpass, & .forgetpass {
            text-align: left;
            width: 80%;
            margin: 0 auto;
        }

        & .subcontent.loginsub {
            margin: 0;
            width: 100%;
            padding: 18px 0 18px;
        }

        & .loginpanel.subcontent.loginsub input[type="checkbox"] {
            margin-right: 0;
        }

        & .loginpanel .desc {
            margin: 15px 0 0;
        }

        & .subcontent.guestsub {
            background: #f4f4f4;
            border-top: 1px dashed #ddd;
            border-radius: 5px 5px 0 0;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            padding-bottom: 20px
        }

        & .subcontent.guestsub input[type="submit"] {
            background: #e7e7e7;
            margin: 15px auto;
            width: 80%;
            color: #444;
            padding: 10px 15px;
            box-shadow: none;
            border: 1px solid #aaa;
            text-transform: uppercase
        }

        & .subcontent.guestsub input[type="submit"]:hover {
            background: #e47508
        }
    }

}