.page.page--myprogress,
.pagelayout-myprogress {

    .progress-content {
        width: 100%;
        margin-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .progress-category {
        background-color: rgb(246, 246, 246);
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;

        & .progress-difficulty {
            height: 190px;
            overflow-y: auto;
            float: left;
            box-sizing: border-box;
            padding: 10px 10px;
        }

        &.progress-category--1 {
            & .progress-difficulty {
                width: 100%;
            }
        }

        &.progress-category--2 {
            & .progress-difficulty {
                width: 50%;
            }
        }

        &.progress-category--3 {
            & .progress-difficulty {
                width: 33.333333%;
            }
        }

        &.progress-category--4 {
            & .progress-difficulty {
                width: 25%;
            }
        }
    }

    .progress-overall-bar {
        width: 100%;
        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-radius: 6px;
        height: 20px;
        margin-bottom: 25px;

        .progress-overall-bar-completion {
            height: 100%;
            display: block;
        }
    }

    .progress-category_title {
        text-transform: uppercase;
        color: @black;
    }

    .progress-course {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;

        .progress-course_title {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            float: left;
        }

        .progress-course_completion-wrapper {
            float: right;
        }

        &.progress-course--is-deactivated {
            opacity: 0.4;
        }
    }


    .progress-colorscheme.progress-colorscheme--beginner {
        .progress-overall-bar {
            border-color: @color_1_beginner;

            .progress-overall-bar-completion {
                background-color: @color_1_beginner;
            }
        }

        .progress-course_title {
            color: @color_1_beginner;
        }
    }

    .progress-colorscheme.progress-colorscheme--advanced {
        .progress-overall-bar {
            border-color: @color_1_advanced;

            .progress-overall-bar-completion {
                background-color: @color_1_advanced;
            }
        }

        .progress-course_title {
            color: @color_1_advanced;
        }
    }

    .progress-colorscheme.progress-colorscheme--further {
        .progress-overall-bar {
            border-color: @color_1_further;

            .progress-overall-bar-completion {
                background-color: @color_1_further;
            }
        }

        .progress-course_title {
            color: @color_1_further;
        }
    }
}