body#page-login-signup {

    padding-top: 130px;

    .container-fluid {
        max-width: 1280px;
    }

    #page-header {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
    }

    #page-navbar {
        margin-left: -20px;
        margin-right: -20px;
        background: #fafafa;
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0px #eee;
    }

    .breadcrumb-nav {
        max-width: 1280px;
        margin: 0 auto;
        float: none;
    }

    .breadcrumb {
        padding: 15px 0 8px 0;
        background-color: transparent;

        & > li > .divider {
            font-size: 10px;
        }
    }

    .page-context-header {
        display: none;
    }

    #region-main {
        h2 {
            display: none;
        }

        form {
            border: 1px solid #ddd;
            border-radius: 4px;
            background: #fff;
            padding: 20px;
        }
    }
}