.topic_navigation {
    display: block;
}

.topic_navigation-link {
    display: block;
    padding-bottom: 60px;
}

.topic_navigation-item {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 85px;

    background: rgb(244, 244, 244);
}

.topic_navigation-item-topic_icon {
    position: absolute;

    top: 5px;
    left: 43px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;

    background-color: rgb(207, 207, 207);

    &:before {
        content: ' ';
        position: absolute;
        border-radius: 50%;
        border: 2px solid rgb(244, 244, 244);
        width: 38px;
        height: 38px;
        top: 4px;
        left: 4px;

        background-color: rgb(207, 207, 207);
    }

    &:after {
        position: absolute;
        font-family: FontAwesome;
        font-style: normal;
        color: rgb(244, 244, 244);
    }

    &.topic_navigation-topic_icon--is-video {

        &:after {
            content: '\f04b';
            top: 15px;
            left: 17px;
            font-size: 28px;
        }

    }

    &.topic_navigation-topic_icon--is-slideshow {

        &:after {
            content: '\f009';
            top: 16px;
            left: 13px;
            font-size: 26px;
        }

    }

    &.topic_navigation-topic_icon--is-text {

        &:after {
            content: '\f0f6';
            top: 13px;
            left: 15px;
            font-size: 24px;
        }

    }

    &.topic_navigation-topic_icon--is-quiz {

        &:after {
            content: '\f128';
            top: 16px;
            left: 15px;
            font-size: 31px;
        }

    }
}

.topic_navigation-item-topic_progress {
    position: absolute;

    width: 5px;
    top: 5px;
    bottom: -65px;
    left: 65px;
    z-index: 1;

    background-color: rgb(207, 207, 207);

    &.topic_navigation-item-topic_progress--is-last {
        bottom: 0;
    }
}

.topic_navigation-item-topic_name {
    display: block;
    margin-left: 110px;
    margin-top: 10px;

    text-transform: uppercase;
    color: @link;

    .topic_navigation-item:hover &,
    .topic_navigation-item--is-active & {
        color: @white;
    }

}

.topic_navigation-item-topic_subtitle {
    display: block;
    margin-left: 110px;
    margin-bottom: 15px;

    text-transform: lowercase;
}


.page-colorscheme.page-colorscheme--beginner {
    & .topic_navigation-item {
        &:hover,
        &.topic_navigation-item--is-active {
            background-color: fade(@color_1_beginner, 90%);
        }

        &.topic_navigation-item--is-active,
        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_progress {
                background-color: @color_1_beginner;
            }
        }

        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_icon {
                background-color: @color_1_beginner;

                &:before {
                    background-color: @color_1_beginner;
                }
            }
        }
    }

    & .topic_navigation-item-topic_subtitle {
        color: @color_2_beginner;
    }
}

.page-colorscheme.page-colorscheme--advanced {
    & .topic_navigation-item {
        &:hover,
        &.topic_navigation-item--is-active {
            background-color: fade(@color_1_advanced, 90%);
        }

        &.topic_navigation-item--is-active,
        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_progress {
                background-color: @color_1_advanced;
            }
        }

        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_icon {
                background-color: @color_1_advanced;

                &:before {
                    background-color: @color_1_advanced;
                }
            }
        }
    }

    & .topic_navigation-item-topic_subtitle {
        color: @color_2_advanced;
    }
}

.page-colorscheme.page-colorscheme--further {
    & .topic_navigation-item {
        &:hover,
        &.topic_navigation-item--is-active {
            background-color: fade(@color_1_further, 90%);
        }

        &.topic_navigation-item--is-active,
        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_progress {
                background-color: @color_1_further;
            }
        }

        &.topic_navigation-item--is-complete {
            & .topic_navigation-item-topic_icon {
                background-color: @color_1_further;

                &:before {
                    background-color: @color_1_further;
                }
            }
        }
    }

    & .topic_navigation-item-topic_subtitle {
        color: @color_2_further;
    }
}