.community {
    margin-top: 40px;
}

.community-toolbar {
    margin-top: 5px;
    margin-bottom: 15px;

    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.community-toolbar-headlines {
}

.community-toolbar-headline {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-right: 10px;

    &.community-toolbar-headline--is-active {

    }
}

.community-toolbar-filters {
    float: right;
}

.community-toolbar-filter {
    font-size: 0.9em;
    text-transform: uppercase;
    margin-left: 10px;

    &.community-toolbar-filter--is-active {

    }
}

.community-content {

    .singlebutton.forumaddnew {

        div {
            margin-left: 0;

            input[type=submit] {
                margin-left: 0;
            }
        }
    }

    .forumpost {
        box-shadow: none;
        border: 0;

        padding: 15px 15px 15px 15px;
        margin-bottom: 10px;
        
        background-color: rgb(244, 244, 244);

        .subject {
            font-weight: normal;
        }

        .content .posting.fullpost {
            margin-top: 4px;
        }
    }
}

.page-colorscheme.page-colorscheme--beginner {

    .community-toolbar {
        color: lighten(@color_1_beginner, 10%);
        border-bottom-color: @color_1_beginner;
    }

    .community-toolbar-headline {
        &.community-toolbar-headline--is-active {
            color: darken(@color_1_beginner, 10%);
        }
    }

    .community-toolbar-filter {
        &.community-toolbar-filter--is-active {
            color: darken(@color_1_beginner, 10%);
        }
    }

    .community-content { 
        .forumpost {
            color: @color_1_beginner;
        }
    }
}

.page-colorscheme.page-colorscheme--advanced {

    .community-toolbar {
        color: lighten(@color_1_advanced, 10%);
        border-bottom-color: @color_1_advanced;
    }

    .community-toolbar-headline {
        &.community-toolbar-headline--is-active {
            color: darken(@color_1_advanced, 10%);
        }
    }

    .community-toolbar-filter {
        &.community-toolbar-filter--is-active {
            color: darken(@color_1_advanced, 10%);
        }
    }

    .community-content { 
        .forumpost {
            color: @color_1_advanced;
        }
    }
}


.page-colorscheme.page-colorscheme--further {

    .community-toolbar {
        color: lighten(@color_1_further, 10%);
        border-bottom-color: @color_1_further;
    }

    .community-toolbar-headline {
        &.community-toolbar-headline--is-active {
            color: darken(@color_1_further, 10%);
        }
    }

    .community-toolbar-filter {
        &.community-toolbar-filter--is-active {
            color: darken(@color_1_further, 10%);
        }
    }

    .community-content { 
        .forumpost {
            color: @color_1_further;
        }
    }
}
