
.downloads {
    position: relative;
    padding: 15px 20px 15px 20px;

    border-radius: 6px;
    border: 2px solid rgb(140, 150, 150);

    // max-height: 400px;
    // overflow: scroll;

    &:before {
        content: '\f01a';
        position: absolute;
        font-family: FontAwesome;
        font-size: 50px;
        top: 15px;
        right: 5px;
        opacity: 0.1;
    }
}

.downloads-headline {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.downloads-content {

}

.downloads-content {
    overflow: auto;
}

.downloads-content-item {
    display: inline-block;
    margin-bottom: 15px;
    min-height: 100px;
}

.downloads-content-item-image {
    float: left;
    width: 70px;

    & .fa {
        font-size: 80px;
    }
}

.downloads-content-item-metadata {
    margin-left: 80px;
}

.downloads-content-item-title {
    display: block;
    text-transform: uppercase;
}

.downloads-content-item-type {
    display: inline-block;
    margin-right: 10px;
}

.downloads-content-item-size {
    display: inline-block;
}

.downloads-content-item-modified {
    display: block;
}

.downloads-content-item-intro {
    display: block;
}

.page-colorscheme.page-colorscheme--beginner {

    .downloads:before {
        color: @color_1_beginner;
    }

    .downloads-headline {
        color: @color_1_beginner;
    }

    .downloads-content-item-image .fa {
        color: @color_1_beginner;
    }

    .downloads-content-item-title {
        color: darken(@color_1_beginner, 10%)
    }

    .downloads-content-item-type,
    .downloads-content-item-size,
    .downloads-content-item-modified, {
        color: fade(lighten(@color_1_beginner, 10%), 50%);
    }

    .downloads-content-item-intro {
        color: @color_1_beginner;
    }
}

.page-colorscheme.page-colorscheme--advanced {

    .downloads:before {
        color: @color_1_advanced;
    }

    .downloads-headline {
        color: @color_1_advanced;
    }

    .downloads-content-item-image .fa {
        color: @color_1_advanced;
    }

    .downloads-content-item-title {
        color: darken(@color_1_advanced, 10%)
    }

    .downloads-content-item-type,
    .downloads-content-item-size,
    .downloads-content-item-modified, {
        color: fade(lighten(@color_1_advanced, 10%), 50%);
    }

    .downloads-content-item-intro {
        color: @color_1_advanced;
    }
}

.page-colorscheme.page-colorscheme--further {

    .downloads:before {
        color: @color_1_further;
    }

    .downloads-headline {
        color: @color_1_further;
    }

    .downloads-content-item-image .fa {
        color: @color_1_further;
    }

    .downloads-content-item-title {
        color: darken(@color_1_further, 10%)
    }

    .downloads-content-item-type,
    .downloads-content-item-size,
    .downloads-content-item-modified, {
        color: fade(lighten(@color_1_further, 10%), 50%);
    }

    .downloads-content-item-intro {
        color: @color_1_further;
    }
}