/**

**/
/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url([[font:theme|fontawesome-webfont.eot]]);
  src: url([[font:theme|fontawesome-webfont.eot]]) format('embedded-opentype'), url([[font:theme|fontawesome-webfont.woff]]) format('woff2'), url([[font:theme|fontawesome-webfont.woff]]) format('woff'), url([[font:theme|fontawesome-webfont.ttf]]) format('truetype'), url([[font:theme|fontawesome-webfont.svg]]) format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
html,
body {
  font-family: Arial;
}
/** Page Header **/
/** Page Content: Left Navigation Bar **/
/** Page Footer **/
.downloads {
  position: relative;
  padding: 15px 20px 15px 20px;
  border-radius: 6px;
  border: 2px solid #8c9696;
}
.downloads:before {
  content: '\f01a';
  position: absolute;
  font-family: FontAwesome;
  font-size: 50px;
  top: 15px;
  right: 5px;
  opacity: 0.1;
}
.downloads-headline {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.downloads-content {
  overflow: auto;
}
.downloads-content-item {
  display: inline-block;
  margin-bottom: 15px;
  min-height: 100px;
}
.downloads-content-item-image {
  float: left;
  width: 70px;
}
.downloads-content-item-image .fa {
  font-size: 80px;
}
.downloads-content-item-metadata {
  margin-left: 80px;
}
.downloads-content-item-title {
  display: block;
  text-transform: uppercase;
}
.downloads-content-item-type {
  display: inline-block;
  margin-right: 10px;
}
.downloads-content-item-size {
  display: inline-block;
}
.downloads-content-item-modified {
  display: block;
}
.downloads-content-item-intro {
  display: block;
}
.page-colorscheme.page-colorscheme--beginner .downloads:before {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .downloads-headline {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-image .fa {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-title {
  color: #0a6c83;
}
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-type,
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-size,
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-modified {
  color: rgba(18, 186, 225, 0.5);
}
.page-colorscheme.page-colorscheme--beginner .downloads-content-item-intro {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--advanced .downloads:before {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .downloads-headline {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-image .fa {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-title {
  color: #337920;
}
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-type,
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-size,
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-modified {
  color: rgba(85, 201, 54, 0.5);
}
.page-colorscheme.page-colorscheme--advanced .downloads-content-item-intro {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--further .downloads:before {
  color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .downloads-headline {
  color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .downloads-content-item-image .fa {
  color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .downloads-content-item-title {
  color: #b94100;
}
.page-colorscheme.page-colorscheme--further .downloads-content-item-type,
.page-colorscheme.page-colorscheme--further .downloads-content-item-size,
.page-colorscheme.page-colorscheme--further .downloads-content-item-modified {
  color: rgba(255, 110, 32, 0.5);
}
.page-colorscheme.page-colorscheme--further .downloads-content-item-intro {
  color: #ec5300;
}
.community {
  margin-top: 40px;
}
.community-toolbar {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
.community-toolbar-headline {
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 10px;
}
.community-toolbar-filters {
  float: right;
}
.community-toolbar-filter {
  font-size: 0.9em;
  text-transform: uppercase;
  margin-left: 10px;
}
.community-content .singlebutton.forumaddnew div {
  margin-left: 0;
}
.community-content .singlebutton.forumaddnew div input[type=submit] {
  margin-left: 0;
}
.community-content .forumpost {
  box-shadow: none;
  border: 0;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}
.community-content .forumpost .subject {
  font-weight: normal;
}
.community-content .forumpost .content .posting.fullpost {
  margin-top: 4px;
}
.page-colorscheme.page-colorscheme--beginner .community-toolbar {
  color: #12bae1;
  border-bottom-color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .community-toolbar-headline.community-toolbar-headline--is-active {
  color: #0a6c83;
}
.page-colorscheme.page-colorscheme--beginner .community-toolbar-filter.community-toolbar-filter--is-active {
  color: #0a6c83;
}
.page-colorscheme.page-colorscheme--beginner .community-content .forumpost {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--advanced .community-toolbar {
  color: #55c936;
  border-bottom-color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .community-toolbar-headline.community-toolbar-headline--is-active {
  color: #337920;
}
.page-colorscheme.page-colorscheme--advanced .community-toolbar-filter.community-toolbar-filter--is-active {
  color: #337920;
}
.page-colorscheme.page-colorscheme--advanced .community-content .forumpost {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--further .community-toolbar {
  color: #ff6e20;
  border-bottom-color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .community-toolbar-headline.community-toolbar-headline--is-active {
  color: #b94100;
}
.page-colorscheme.page-colorscheme--further .community-toolbar-filter.community-toolbar-filter--is-active {
  color: #b94100;
}
.page-colorscheme.page-colorscheme--further .community-content .forumpost {
  color: #ec5300;
}
/*
<ul class="dotted_progress">
    <li class="dotted_progress-item dotted_progress-item--is-achieved"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
    <li class="dotted_progress-item"></li>
</ul>
*/
.dotted_progress {
  position: relative;
  display: inline-block;
  list-style-type: none;
  top: 2px;
  margin: 0;
  padding: 0;
}
.dotted_progress-item {
  display: inline-block;
  float: left;
  height: 12px;
  width: 12px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 4px;
}
.progress-colorscheme.progress-colorscheme--beginner .dotted_progress-item,
.page-colorscheme.page-colorscheme--beginner .dotted_progress-item {
  border-color: #0e93b2;
}
.progress-colorscheme.progress-colorscheme--beginner .dotted_progress-item.dotted_progress-item--is-achieved,
.page-colorscheme.page-colorscheme--beginner .dotted_progress-item.dotted_progress-item--is-achieved {
  background-color: #0e93b2;
}
.progress-colorscheme.progress-colorscheme--advanced .dotted_progress-item,
.page-colorscheme.page-colorscheme--advanced .dotted_progress-item {
  border-color: #44a12b;
}
.progress-colorscheme.progress-colorscheme--advanced .dotted_progress-item.dotted_progress-item--is-achieved,
.page-colorscheme.page-colorscheme--advanced .dotted_progress-item.dotted_progress-item--is-achieved {
  background-color: #44a12b;
}
.progress-colorscheme.progress-colorscheme--further .dotted_progress-item,
.page-colorscheme.page-colorscheme--further .dotted_progress-item {
  border-color: #ec5300;
}
.progress-colorscheme.progress-colorscheme--further .dotted_progress-item.dotted_progress-item--is-achieved,
.page-colorscheme.page-colorscheme--further .dotted_progress-item.dotted_progress-item--is-achieved {
  background-color: #ec5300;
}
.topic_navigation {
  display: block;
}
.topic_navigation-link {
  display: block;
  padding-bottom: 60px;
}
.topic_navigation-item {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 85px;
  background: #f4f4f4;
}
.topic_navigation-item-topic_icon {
  position: absolute;
  top: 5px;
  left: 43px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  background-color: #cfcfcf;
}
.topic_navigation-item-topic_icon:before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  border: 2px solid #f4f4f4;
  width: 38px;
  height: 38px;
  top: 4px;
  left: 4px;
  background-color: #cfcfcf;
}
.topic_navigation-item-topic_icon:after {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  color: #f4f4f4;
}
.topic_navigation-item-topic_icon.topic_navigation-topic_icon--is-video:after {
  content: '\f04b';
  top: 15px;
  left: 17px;
  font-size: 28px;
}
.topic_navigation-item-topic_icon.topic_navigation-topic_icon--is-slideshow:after {
  content: '\f009';
  top: 16px;
  left: 13px;
  font-size: 26px;
}
.topic_navigation-item-topic_icon.topic_navigation-topic_icon--is-text:after {
  content: '\f0f6';
  top: 13px;
  left: 15px;
  font-size: 24px;
}
.topic_navigation-item-topic_icon.topic_navigation-topic_icon--is-quiz:after {
  content: '\f128';
  top: 16px;
  left: 15px;
  font-size: 31px;
}
.topic_navigation-item-topic_progress {
  position: absolute;
  width: 5px;
  top: 5px;
  bottom: -65px;
  left: 65px;
  z-index: 1;
  background-color: #cfcfcf;
}
.topic_navigation-item-topic_progress.topic_navigation-item-topic_progress--is-last {
  bottom: 0;
}
.topic_navigation-item-topic_name {
  display: block;
  margin-left: 110px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #2e4060;
}
.topic_navigation-item:hover .topic_navigation-item-topic_name,
.topic_navigation-item--is-active .topic_navigation-item-topic_name {
  color: #ffffff;
}
.topic_navigation-item-topic_subtitle {
  display: block;
  margin-left: 110px;
  margin-bottom: 15px;
  text-transform: lowercase;
}
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item:hover,
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item.topic_navigation-item--is-active {
  background-color: rgba(14, 147, 178, 0.9);
}
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item.topic_navigation-item--is-active .topic_navigation-item-topic_progress,
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_progress {
  background-color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon {
  background-color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon:before {
  background-color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .topic_navigation-item-topic_subtitle {
  color: #abddf0;
}
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item:hover,
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item.topic_navigation-item--is-active {
  background-color: rgba(68, 161, 43, 0.9);
}
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item.topic_navigation-item--is-active .topic_navigation-item-topic_progress,
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_progress {
  background-color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon {
  background-color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon:before {
  background-color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .topic_navigation-item-topic_subtitle {
  color: #98d94a;
}
.page-colorscheme.page-colorscheme--further .topic_navigation-item:hover,
.page-colorscheme.page-colorscheme--further .topic_navigation-item.topic_navigation-item--is-active {
  background-color: rgba(236, 83, 0, 0.9);
}
.page-colorscheme.page-colorscheme--further .topic_navigation-item.topic_navigation-item--is-active .topic_navigation-item-topic_progress,
.page-colorscheme.page-colorscheme--further .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_progress {
  background-color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon {
  background-color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .topic_navigation-item.topic_navigation-item--is-complete .topic_navigation-item-topic_icon:before {
  background-color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .topic_navigation-item-topic_subtitle {
  color: #f3c96f;
}
.page_header {
  height: 75px;
  background-color: #d5d5d5;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 9999;
}
.page.page--front .page_header {
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#b3000000', GradientType=0);
  /* IE6-9 */
}
.page.page--front .page_header .usermenu,
.page.page--front .page_header .usermenu .usertext {
  color: #ffffff;
}
.page.page--front .page_header .usermenu span.login {
  color: #ffffff;
}
.page.page--front .page_header .usermenu .moodle-actionmenu:hover,
.page.page--front .page_header .usermenu .moodle-actionmenu.show {
  background-color: #0e572e;
}
.page.page--front .page_header .usermenu .moodle-actionmenu .toggle-display.textmenu .caret {
  border-top-color: #ffffff;
}
.page_header-logo-container {
  display: inline-block;
}
.page_header-logo {
  height: 65px;
  margin-top: 5px;
  margin-left: 20px;
}
.page_header-nav {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  margin-left: 50px;
}
.page_header-nav .item {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}
.page_header-nav .item:after {
  position: absolute;
  content: ' ';
  top: 3px;
  bottom: 8px;
  right: 0;
  width: 1px;
  background-color: #ffffff;
}
.page_header-nav .item .link {
  position: relative;
  color: inherit;
}
.page_header-nav .item.is-last {
  padding-right: 0;
}
.page_header-nav .item.is-last:after {
  display: none;
}
.page_header-nav .item.is-active,
.page_header-nav .item:hover {
  color: #fdef6e;
}
.page-header_search {
  position: absolute;
  top: 24px;
  right: 400px;
}
.page-header_search .fa.fa-search {
  color: #ffffff;
  font-size: 22px;
  position: relative;
  top: -2px;
  left: -5px;
}
.page-header_search form {
  display: inline-block;
}
.page-header_search .coursesearchbox label {
  display: none;
}
.page-header_search .coursesearchbox input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 200px;
  box-sizing: content-box;
}
.page-header_search .coursesearchbox input[type="submit"] {
  margin-left: 0;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page_header .usermenu {
  margin-top: 20px;
}
.page_container {
  position: fixed;
  top: 80px;
  bottom: 55px;
  width: 100%;
}
.page.page--front .page_container {
  overflow-y: auto;
  top: 0;
  bottom: 0;
}
.page_sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 330px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f4f4f4;
}
.page_sidebar-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 330px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
}
.page_sidebar-list .page_sidebar-list-item {
  position: relative;
  font-size: 1rem;
  line-height: 3rem;
  margin-left: 20px;
  padding-left: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: -1px;
  width: 300px;
  /* - marginLeft - paddingLeft */
}
.page_sidebar-list .page_sidebar-list-item:before {
  position: absolute;
  content: ' ';
  width: 4px;
  border-radius: 9px;
  background-color: #ffffff;
  top: 5px;
  bottom: 5px;
  left: 0;
}
.page_sidebar-list .page_sidebar-list-item.page_sidebar-list-item--is-active,
.page_sidebar-list .page_sidebar-list-item:hover {
  background-color: #ffffff;
}
.page_sidebar-list .page_sidebar-list-item.page_sidebar-list-item--is-active:before,
.page_sidebar-list .page_sidebar-list-item:hover:before {
  display: none;
}
.page_sidebar-list .page_sidebar-list-item.page_sidebar-list-item--has-children:after {
  position: absolute;
  content: ' ';
  width: 20px;
  top: 15px;
  bottom: 15px;
  right: 0;
  background-image: url([[pix:theme|arrow_right]]);
  background-repeat: no-repeat;
  background-size: contain;
}
.page_sidebar-list .page_sidebar-list-item-link {
  /* making more space clickable */
  display: inline-block;
  width: 100%;
}
.page_sidebar-filter {
  display: none;
  position: absolute;
  bottom: 20px;
  height: 100px;
  width: 330px;
  background-color: #d5d5d5;
}
.page_sidebar-header {
  background: #f4f4f4;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page_sidebar-header-link {
  position: relative;
  display: block;
  margin-left: 90px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.page_sidebar-header-link:before {
  position: absolute;
  content: ' ';
  left: -17px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right-width: 10px;
  border-right-style: solid;
}
.page_sidebar-header-title {
  display: block;
  margin-left: 70px;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}
.page_sidebar-header-subtitle {
  display: block;
  margin-left: 70px;
  text-transform: uppercase;
}
.page-colorscheme.page-colorscheme--beginner .page_sidebar-list .page_sidebar-list-item {
  color: #2e4060;
}
.page-colorscheme.page-colorscheme--beginner .page_sidebar-header {
  border-bottom-color: #0e93b2;
}
.page-colorscheme.page-colorscheme--beginner .page_sidebar-header-link {
  color: #0070a8;
}
.page-colorscheme.page-colorscheme--beginner .page_sidebar-header-link:before {
  border-right-color: #0070a8;
}
.page-colorscheme.page-colorscheme--beginner .page_sidebar-header-subtitle {
  color: #abddf0;
}
.page-colorscheme.page-colorscheme--advanced .page_sidebar-list .page_sidebar-list-item {
  color: #2e4060;
}
.page-colorscheme.page-colorscheme--advanced .page_sidebar-header {
  border-bottom-color: #44a12b;
}
.page-colorscheme.page-colorscheme--advanced .page_sidebar-header-link {
  color: #214949;
}
.page-colorscheme.page-colorscheme--advanced .page_sidebar-header-link:before {
  border-right-color: #214949;
}
.page-colorscheme.page-colorscheme--advanced .page_sidebar-header-subtitle {
  color: #98d94a;
}
.page-colorscheme.page-colorscheme--further .page_sidebar-list .page_sidebar-list-item {
  color: #2e4060;
}
.page-colorscheme.page-colorscheme--further .page_sidebar-header {
  border-bottom-color: #ec5300;
}
.page-colorscheme.page-colorscheme--further .page_sidebar-header-link {
  color: #214949;
}
.page-colorscheme.page-colorscheme--further .page_sidebar-header-link:before {
  border-right-color: #214949;
}
.page-colorscheme.page-colorscheme--further .page_sidebar-header-subtitle {
  color: #f3c96f;
}
.page_statusbar {
  display: block;
  height: 3em;
  margin-left: 20px;
  line-height: 3em;
}
.page_statusbar-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 20px;
}
.page-colorscheme.page-colorscheme--beginner .page_statusbar-title {
  color: #0e93b2;
}
.page-colorscheme.page-colorscheme--advanced .page_statusbar-title {
  color: #44a12b;
}
.page-colorscheme.page-colorscheme--further .page_statusbar-title {
  color: #ec5300;
}
.page_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 330px;
  right: 0;
  overflow: auto;
}
.page_content.page_content--no-sidebar {
  left: 20px;
  right: 20px;
}
.page_footer {
  height: 50px;
  background-color: #d5d5d5;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.page.page--front .page_footer {
  position: relative;
}
.page_footer .page-buttons {
  float: left;
  line-height: 56px;
}
.page_footer .page-buttons .singlebutton {
  display: inline-block;
}
.page.page--myprogress .progress-content,
.pagelayout-myprogress .progress-content {
  width: 100%;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.page.page--myprogress .progress-category,
.pagelayout-myprogress .progress-category {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.page.page--myprogress .progress-category .progress-difficulty,
.pagelayout-myprogress .progress-category .progress-difficulty {
  height: 190px;
  overflow-y: auto;
  float: left;
  box-sizing: border-box;
  padding: 10px 10px;
}
.page.page--myprogress .progress-category.progress-category--1 .progress-difficulty,
.pagelayout-myprogress .progress-category.progress-category--1 .progress-difficulty {
  width: 100%;
}
.page.page--myprogress .progress-category.progress-category--2 .progress-difficulty,
.pagelayout-myprogress .progress-category.progress-category--2 .progress-difficulty {
  width: 50%;
}
.page.page--myprogress .progress-category.progress-category--3 .progress-difficulty,
.pagelayout-myprogress .progress-category.progress-category--3 .progress-difficulty {
  width: 33.333333%;
}
.page.page--myprogress .progress-category.progress-category--4 .progress-difficulty,
.pagelayout-myprogress .progress-category.progress-category--4 .progress-difficulty {
  width: 25%;
}
.page.page--myprogress .progress-overall-bar,
.pagelayout-myprogress .progress-overall-bar {
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  height: 20px;
  margin-bottom: 25px;
}
.page.page--myprogress .progress-overall-bar .progress-overall-bar-completion,
.pagelayout-myprogress .progress-overall-bar .progress-overall-bar-completion {
  height: 100%;
  display: block;
}
.page.page--myprogress .progress-category_title,
.pagelayout-myprogress .progress-category_title {
  text-transform: uppercase;
  color: #000000;
}
.page.page--myprogress .progress-course,
.pagelayout-myprogress .progress-course {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page.page--myprogress .progress-course .progress-course_title,
.pagelayout-myprogress .progress-course .progress-course_title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}
.page.page--myprogress .progress-course .progress-course_completion-wrapper,
.pagelayout-myprogress .progress-course .progress-course_completion-wrapper {
  float: right;
}
.page.page--myprogress .progress-course.progress-course--is-deactivated,
.pagelayout-myprogress .progress-course.progress-course--is-deactivated {
  opacity: 0.4;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-overall-bar,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-overall-bar {
  border-color: #0e93b2;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-overall-bar .progress-overall-bar-completion,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-overall-bar .progress-overall-bar-completion {
  background-color: #0e93b2;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-course_title,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--beginner .progress-course_title {
  color: #0e93b2;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-overall-bar,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-overall-bar {
  border-color: #44a12b;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-overall-bar .progress-overall-bar-completion,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-overall-bar .progress-overall-bar-completion {
  background-color: #44a12b;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-course_title,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--advanced .progress-course_title {
  color: #44a12b;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--further .progress-overall-bar,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--further .progress-overall-bar {
  border-color: #ec5300;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--further .progress-overall-bar .progress-overall-bar-completion,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--further .progress-overall-bar .progress-overall-bar-completion {
  background-color: #ec5300;
}
.page.page--myprogress .progress-colorscheme.progress-colorscheme--further .progress-course_title,
.pagelayout-myprogress .progress-colorscheme.progress-colorscheme--further .progress-course_title {
  color: #ec5300;
}
.courses_overview-content,
.courses_overview-content > div[role=main] {
  display: table;
  width: 100%;
  height: 100%;
}
.courses_overview-content_wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.courses_overview-headline {
  display: table-row;
  height: 1px;
  font-size: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #706670;
}
.courses_overview-headline .courses_overview-headline_text {
  padding-left: 30px;
}
.courses_overview-content_column {
  display: table-cell;
  height: 100%;
  width: 33.33%;
}
.courses_overview-content_wrapper.courses_overview-content_wrapper--1 .courses_overview-content_column {
  width: 100%;
}
.courses_overview-content_wrapper.courses_overview-content_wrapper--2 .courses_overview-content_column {
  width: 50%;
}
.courses_overview_container {
  height: 100%;
  padding: 10px 30px 30px 30px;
  color: #ffffff;
  overflow-y: auto;
}
.courses_overview_container.courses_overview_container--beginner {
  background-color: #0e93b2;
}
.courses_overview_container.courses_overview_container--advanced {
  background-color: #44a12b;
}
.courses_overview_container.courses_overview_container--further {
  background-color: #ec5300;
}
.courses_overview_container.courses_overview_container--tests {
  background-color: #706670;
}
.courses_overview_container.courses_overview_container--half {
  height: 50%;
}
.courses_overview-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.course_link {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 2rem;
}
.course_link.course_link--disabled {
  color: #ccc;
}
.course_link.course_link--disabled:hover {
  color: #ccc;
}
.course_link:hover {
  color: #2e4060;
}
.courses_overview-hr {
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.page.page--course .page_maincontent {
  margin-left: 20px;
  margin-right: 20px;
}
.page.page--course .page_resourcecontent {
  float: left;
  width: 66.666667%;
}
.page.page--course .page_resourcecontent.page_resourcecontent--no-left-column {
  width: 100%;
}
.page.page--course .page_secondarycontent {
  float: left;
  width: 33.3333333%;
}
.page.page--course .page_secondarycontent .page_secondarycontent-container {
  margin-left: 20px;
}
.page.page--course .single-section {
  margin-top: 0;
}
.page.page--course .mediaplugin.mediaplugin_youtube {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.page.page--front {
  background-image: url('[[pix:theme|background_frontpage]]');
  background-attachment: fixed;
  background-size: cover;
}
.page.page--front section {
  position: relative;
  height: 80vh;
  overflow: auto;
  padding-left: 60px;
  padding-right: 60px;
  color: #ffffff;
}
.page.page--front section.is--first {
  padding-top: 100px;
}
.page.page--front section.is--cta {
  height: 50vh;
}
.page.page--front .box.generalbox section:nth-child(1) {
  background: #017861;
}
.page.page--front .box.generalbox section h3 {
  margin: 4rem 0 5rem;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-shadow: 0 0px 5px #000;
}
.page.page--front .box.generalbox section h4 {
  margin: 2rem 0 3rem;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-shadow: 0 0px 5px #000;
}
.page.page--front .box.generalbox section table {
  table-layout: fixed;
  font-size: 20px;
  line-height: 1.4;
  text-shadow: 0 0px 5px #000;
}
.page.page--front .box.generalbox section table td {
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
}
.page.page--front .box.generalbox section table td:first-child {
  padding-left: 0;
}
.page.page--front .box.generalbox section table td:last-child {
  padding-right: 0;
}
.page.page--front .box.generalbox section table p {
  margin-bottom: 1.4rem;
}
.page.page--front .teaser {
  float: left;
  margin-top: 20px;
  width: 600px;
}
.page.page--front .btn {
  border: 2px solid #999;
  background: #ccc;
  color: #333;
  margin-top: 6px;
  margin-bottom: 6px;
  text-shadow: none;
  padding-top: 9px;
  padding-bottom: 9px;
}
.page.page--front .btn.btn-primary {
  border-color: #fae65a;
  background: #fae65a;
}
.page.page--front .login-area {
  float: right;
  margin-top: 120px;
  margin-right: 40px;
  width: 320px;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  padding: 0 40px 0 40px;
}
.page.page--front .login-area .login-area_header {
  text-align: center;
  border-bottom: 2px solid black;
  margin-top: 20px;
}
.page.page--front .login-area .login-area_content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page.page--front .login-area .login-area_content .or-separator {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.page.page--front .login-area .login-area_content .pwd-forgot-link {
  display: inline-block;
  margin-top: 20px;
}
.page.page--front .cta-container {
  text-shadow: 0 0px 5px #000;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  margin: 0 auto;
  width: 25%;
  min-width: 300px;
}
body#page-login-signup {
  padding-top: 130px;
}
body#page-login-signup .container-fluid {
  max-width: 1280px;
}
body#page-login-signup #page-header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
body#page-login-signup #page-navbar {
  margin-left: -20px;
  margin-right: -20px;
  background: #fafafa;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0px #eee;
}
body#page-login-signup .breadcrumb-nav {
  max-width: 1280px;
  margin: 0 auto;
  float: none;
}
body#page-login-signup .breadcrumb {
  padding: 15px 0 8px 0;
  background-color: transparent;
}
body#page-login-signup .breadcrumb > li > .divider {
  font-size: 10px;
}
body#page-login-signup .page-context-header {
  display: none;
}
body#page-login-signup #region-main h2 {
  display: none;
}
body#page-login-signup #region-main form {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  padding: 20px;
}
body#page-login-index {
  padding-top: 130px;
}
body#page-login-index .container-fluid {
  max-width: 1280px;
}
body#page-login-index #page-header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
body#page-login-index #page-navbar {
  margin-left: -20px;
  margin-right: -20px;
  background: #fafafa;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0px #eee;
}
body#page-login-index .breadcrumb-nav {
  max-width: 1280px;
  margin: 0 auto;
  float: none;
}
body#page-login-index .breadcrumb {
  padding: 15px 0 8px 0;
  background-color: transparent;
}
body#page-login-index .breadcrumb > li > .divider {
  font-size: 10px;
}
body#page-login-index .page-context-header {
  display: none;
}
body#page-login-index #notice {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  margin-top: 40px;
  width: 50%;
}
body#page-login-index .loginbox {
  margin-top: 60px !important;
}
body#page-login-index .loginbox.subcontent {
  padding: 0;
}
body#page-login-index .loginbox .signuppanel h2 {
  font-size: 18px;
  border: none;
  border-radius: 0;
  height: auto;
  padding: 0;
  background: transparent;
  font-weight: normal;
  text-transform: initial;
}
body#page-login-index .loginbox .signuppanel .subcontent {
  text-indent: -10000px;
  padding: 0;
  margin: 0;
}
body#page-login-index .loginbox .signuppanel .subcontent ol {
  display: none;
}
body#page-login-index .loginbox .signuppanel .subcontent .signupform {
  margin-top: -21px;
  text-indent: 0;
}
body#page-login-index .loginbox .guestsub,
body#page-login-index .loginbox .forgotsub,
body#page-login-index .loginbox .potentialidps a {
  margin: 10px 0;
}
body#page-login-index .loginbox h2 {
  background: #f0f0f0;
  border-bottom: 1px dashed #ddd;
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  height: 49px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 1px auto 0;
  padding: 15px 0 4px;
  width: 100%;
}
body#page-login-index .loginbox .loginpanel,
body#page-login-index .loginbox .signuppanel {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  float: none;
  max-width: 360px;
  box-shadow: 0 0 1px #eee;
}
body#page-login-index .loginbox .signuppanel {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body#page-login-index .loginbox .loginform .form-label {
  width: 0;
  display: none;
}
body#page-login-index .loginbox .loginform .form-input {
  float: none;
  width: 80%;
  margin: 0 auto;
}
body#page-login-index .loginbox .loginform .form-input #username,
body#page-login-index .loginbox .loginform .form-input #password {
  background: #fff;
  min-width: 200px;
  width: 94% !important;
  padding: 8px 3%;
}
body#page-login-index .loginbox .loginform .form-input #username {
  margin-bottom: -2px;
  border-radius: 4px 4px 0 0;
}
body#page-login-index .loginbox .loginform .form-input #password {
  border-radius: 0 0 4px 4px;
}
body#page-login-index .loginbox .rememberpass,
body#page-login-index .loginbox .forgetpass {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
body#page-login-index .loginbox .subcontent.loginsub {
  margin: 0;
  width: 100%;
  padding: 18px 0 18px;
}
body#page-login-index .loginbox .loginpanel.subcontent.loginsub input[type="checkbox"] {
  margin-right: 0;
}
body#page-login-index .loginbox .loginpanel .desc {
  margin: 15px 0 0;
}
body#page-login-index .loginbox .subcontent.guestsub {
  background: #f4f4f4;
  border-top: 1px dashed #ddd;
  border-radius: 5px 5px 0 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}
body#page-login-index .loginbox .subcontent.guestsub input[type="submit"] {
  background: #e7e7e7;
  margin: 15px auto;
  width: 80%;
  color: #444;
  padding: 10px 15px;
  box-shadow: none;
  border: 1px solid #aaa;
  text-transform: uppercase;
}
body#page-login-index .loginbox .subcontent.guestsub input[type="submit"]:hover {
  background: #e47508;
}
.page.page--dashboard {
  background-color: #f5f5f5;
}
.page.page--dashboard .page_container {
  top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  box-sizing: border-box;
}
.page.page--dashboard .column-wrapper {
  display: inline-block;
  width: 100%;
}
.page.page--dashboard .column {
  width: 33%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.page.page--dashboard .column.column--left {
  padding-left: 0;
}
.page.page--dashboard .column.column--right {
  padding-right: 0;
}
.page.page--dashboard .block {
  background-color: #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  padding: 10px;
}
.page.page--dashboard .block .header.title {
  text-transform: uppercase;
  color: #000000;
}
