.page_container {
    position: fixed;
    top: @page_header_height + 5px;
    bottom: @page_footer_height + 5px;
    width: 100%;

    .page.page--front & {
        overflow-y: auto;
        top: 0;
        bottom: 0;
    }
}