.page_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: @page_sidebar_width;
    right: 0;

    overflow: auto;

    &.page_content--no-sidebar {
    	left: 20px;
    	right: 20px;
    }
}