.page_footer {
    height: @page_footer_height;
    background-color: @grey_light;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;

    .page.page--front & {
    	position: relative;
    }


    .page-buttons {
        float: left;
        line-height: @page_footer_height + 6px;

        & .singlebutton {
            display: inline-block;
        }
    }
}