.page_header {
    height: @page_header_height;
    background-color: @grey_light;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    z-index: 9999;

    .page.page--front & {
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

        & .usermenu,
        & .usermenu .usertext {
            color: @white;
        }

        & .usermenu span.login {
            color: @white;
        }

        & .usermenu .moodle-actionmenu {
            &:hover,
            &.show {
                background-color: lighten(#072B17, 10%);
            }

            & .toggle-display.textmenu .caret {
                border-top-color: @white;
            }
        }
    }
}

.page_header-logo-container {
    display: inline-block;
}

.page_header-logo {
    height: @page_header_height - 10px;
    margin-top: 5px;
    margin-left: 20px;
}

.page_header-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    margin-left: 50px;

    & .item {
        position: relative;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        
        color: @white;
        text-transform: uppercase;

        &:after {
            position: absolute;
            content: ' ';
            top: 3px;
            bottom: 8px;
            right: 0;
            width: 1px;
            background-color: @white;

        }

        & .link {
            position: relative;
            color: inherit;
        }

        &.is-last {
            padding-right: 0;

            &:after {
                display: none;
            }
        }

        &.is-active,
        &:hover {
            color: @btn_background_primary;
        }
    }
}

.page-header_search {
    position: absolute;
    top: 24px;
    right: 400px;

    & .fa.fa-search {
        color: @white;
        font-size: 22px;
        position: relative;
        top: -2px;
        left: -5px;
    }

    & form {
        display: inline-block;
    }

    & .coursesearchbox label {
        display: none;
    }

    & .coursesearchbox input[type="text"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 200px;
        box-sizing: content-box;
    }

    & .coursesearchbox input[type="submit"] {
        margin-left: 0;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.page_header {
    .usermenu {
        margin-top: 20px;
    }
}