.page_sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @page_sidebar_width;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(244, 244, 244);
}

.page_sidebar-list {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @page_sidebar_width;

    margin: 0;
    padding: 0;

    overflow-y: auto;
    overflow-x: hidden;

    list-style-type: none;

    & .page_sidebar-list-item {
        position: relative;
        font-size: 1rem;
        line-height: 3rem;
        margin-left: 20px;
        padding-left: 10px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: -1px;
        width: @page_sidebar_width - 20px - 10px; /* - marginLeft - paddingLeft */

        &:before {
            position: absolute;
            content: ' ';
            width: 4px;
            border-radius: 9px;
            background-color: @white;
            top: 5px;
            bottom: 5px;
            left: 0;
        }

        &.page_sidebar-list-item--is-active,
        &:hover {
            background-color: @white;

            &:before {
                display: none;
            }
        }

        &.page_sidebar-list-item--has-children:after {
            position: absolute;
            content: ' ';
            width: 20px;
            top: 15px;
            bottom: 15px;
            right: 0;

            background-image: url([[pix:theme|arrow_right]]);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    & .page_sidebar-list-item-link {
        /* making more space clickable */
        display: inline-block;
        width: 100%;
    }
}

.page_sidebar-filter {
    display: none;
    position: absolute;
    bottom: 20px;
    height: 100px;
    width: @page_sidebar_width;
    background-color: @grey_light;
}

.page_sidebar-header {
    background: rgb(244, 244, 244);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_sidebar-header-link {
    position: relative;
    display: block;
    margin-left: 90px;
    margin-bottom: 15px;
    text-transform: uppercase;

    &:before {
        position: absolute;
        content: ' ';
        left: -17px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right-width: 10px;
        border-right-style: solid;
    }

}

.page_sidebar-header-title {
    display: block;
    margin-left: 70px;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}

.page_sidebar-header-subtitle {
    display: block;
    margin-left: 70px;
    text-transform: uppercase;
}

.page-colorscheme.page-colorscheme--beginner {

    & .page_sidebar-list {

        & .page_sidebar-list-item {
            color: @link;
        }

    }

    & .page_sidebar-header {
        border-bottom-color: @color_1_beginner;
    }

    & .page_sidebar-header-link {
        color: #0070a8;

        &:before {
            border-right-color: #0070a8;
        }
    }

    & .page_sidebar-header-subtitle {
        color: @color_2_beginner;
    }
}

.page-colorscheme.page-colorscheme--advanced {

    & .page_sidebar-list {

        & .page_sidebar-list-item {
            color: @link;
        }

    }

    & .page_sidebar-header {
        border-bottom-color: @color_1_advanced;
    }

    & .page_sidebar-header-link {
        color: rgb(33, 73, 73);

        &:before {
            border-right-color: rgb(33, 73, 73);
        }
    }

    & .page_sidebar-header-subtitle {
        color: @color_2_advanced;
    }

}

.page-colorscheme.page-colorscheme--further {

    & .page_sidebar-list {

        & .page_sidebar-list-item {
            color: @link;
        }

    }

    & .page_sidebar-header {
        border-bottom-color: @color_1_further;
    }

    & .page_sidebar-header-link {
        color: rgb(33, 73, 73);

        &:before {
            border-right-color: rgb(33, 73, 73);
        }
    }

    & .page_sidebar-header-subtitle {
        color: @color_2_further;
    }

}

.page-colorscheme.page-colorscheme--tests {

}