.page_statusbar {
    display: block;
    height: 3em;
    margin-left: 20px;
    line-height: 3em;
}

.page_statusbar-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 20px;

    .page-colorscheme.page-colorscheme--beginner & {
        color: @color_1_beginner;
    }

    .page-colorscheme.page-colorscheme--advanced & {
        color: @color_1_advanced;
    }

    .page-colorscheme.page-colorscheme--further & {
        color: @color_1_further;
    }
}