/* 
    Created on : 19.05.2016, 13:15:15
    Author     : Simon
*/

div.progressCategory {
    background-color: #fafafa;
    margin: 10px;
    padding: 0 10px;
}


div.progressSubcategory {
    clear: both;
}

div.progressSubcategory.Beginner, div.progressSubcategory.Beginner a{
    color: #30FF00;
}

div.progressSubcategory.Advanced, div.progressSubcategory.Advanced a {
    color: #ff3000;
}

div.progressSubcategory.Further, div.progressSubcategory.Further a {
    color: #3030ff;
}

span.progressComplete, span.progressIncomplete {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin: 0 5px;
    border-radius: 50%;
}

span.progressComplete {
    background-color: black;
}