@white: rgb(255, 255, 255);

@background: rgb(219, 225, 225);

@grey_light: rgb(213, 213, 213);
@grey_dark: rgb(112, 102, 112);

@black: rgb(0, 0, 0);

@link: rgb(46, 64, 96);
@link_active: rgb(86, 94, 119);

// Buttons
@btn_background_primary: rgb(253, 239, 110);
@btn_border_primary: rgb(253, 239, 110);
@btn_text_primary: rgb(40, 30, 15);

@btn_background_secondary: transparent;
@btn_border_secondary: rgb(150, 150, 150);
@btn_text_secondary: rgb(40, 30, 15);

@btn_background_ternary: transparent;
@btn_border_ternary: rgb(119, 119, 119);
@btn_text_ternary: rgb(40, 30, 15);

// Color scheme: Beginner
@color_1_beginner: rgb(14, 147, 178);
@color_2_beginner: rgb(171, 221, 240);
@color_3_beginner: rgb(25, 18, 169); //rgb(12, 0, 255);
@color_4_beginner: rgb(179, 132, 91);
@color_5_beginner: rgb(253, 223, 196);

// Color scheme: Advanced
@color_1_advanced: rgb(68, 161, 43);
@color_2_advanced: rgb(152, 217, 74);
@color_3_advanced: rgb(255, 255, 60);
@color_4_advanced: rgb(140, 124, 88);
@color_5_advanced: rgb(242, 132, 82);

// Color scheme: Further
@color_1_further: rgb(236, 83, 0);
@color_2_further: rgb(243, 201, 111);
@color_3_further: rgb(248, 0, 62);
@color_4_further: rgb(0, 119, 195);
@color_5_further: rgb(242, 132, 82);
